*, *::before, *::after {
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  margin: 10px;
  height: 200vh;
}
.boxes {
  border: 3px solid salmon;
  position: relative;
}
.box {
  width: 5rem;
  height: 5rem;
}
.grade-one {
  background: blanchedalmond;
  position: relative;
}
.grade-two {
  background: darkcyan;
  position: fixed;
  right: 2rem;
  left: 2rem;
  top: 0;
  width: auto;
  z-index: 1;
}
.grade-three {
  background: midnightblue;
  position: relative;
}