/* *, *::before, *::after {
  box-sizing: border-box;
}
.body {
  margin: 10px;
  height: 200vh;
}
.boxes {
  border: 3px solid salmon;
  position: relative;
}
.box {
  width: 5rem;
  height: 5rem;
}
.grade-one {
  background: blanchedalmond;
  position: relative;
}
.grade-two {
  background: darkcyan;
  position: relative;
  right: 2rem;
  left: 0;
  top: 0;
  width: auto;
  z-index: 1;
}
.grade-three {
  background: midnightblue;
  position: relative;
} */
/*  html {
  font-size: 100%;
}
body {
  margin: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;  
}
h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
  margin: 3rem 0 1rem;
}
p {
  text-decoration: underline;
  font-weight: normal;
  font-style: italic;
  font-size: 1rem;
  color: darkolivegreen;
}
.tweet {
  border: 3px solid red;
  margin: 10px;
}
.avatar {
  width: 5rem;
  height: 5rem;
  background-color: crimson;
  float: left;
  margin-right: 0.5rem;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.container {
  border: 3px double deepskyblue;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.box {
  flex-basis: 15rem;
  flex-grow: 1;
  flex-shrink: 1;
  width: 5rem;
  height: 5rem;
  background: darkslateblue;
  margin: 1rem;
}
.box-one {
  align-self: flex-start;
  flex-grow: 0;
  flex-basis: 5rem;
}
.pyrex {
  display: grid;
  grid-template: 100px auto 100px / 30fr 70fr;
  grid-template-areas: 
  "header  header" 
  "sidebar  main" 
  "footer  footer";
  gap: 10px;
  border: 3px solid greenyellow;
  height: 100vh;
}
.box-two {  
  background: darkgoldenrod;
}
.one {
  grid-area: header;
}
.four {
  grid-area: footer;
}
.tupper {
  display: flex;
  flex-direction: column;
}
.box-three {
  background: thistle;
  padding: 1rem;
}
.box-three:nth-of-type(2) {
  background: aquamarine;
}

 @media screen and (min-width: 600px) {
  .tupper {
    flex-direction: row;
  }
 }

 @media screen and (min-width: 900px) {
  .tupper {
    flex-direction: row;
  }
  .box-three {
    background: azure;
  }
 }
@media print {
  body {
    font-size: 12px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 130%;
  }
}
.bg-dishes
{
background:url('../images/css-sprite-combined.2.png') 0px -0px;
width:100px;height:100px;
display:inline-block;
}

.bg-landing
{
background:url('../images/css-sprite-combined.2.png') -100px -0px;
width:100px;height:100px;
display:inline-block;
}

.bg-rocketship
{
background:url('../images/css-sprite-combined.2.png') -200px -0px;
width:100px;height:100px;
display:inline-block;
}

.bg-saturn
{
background:url('../images/css-sprite-combined.2.png') -300px -0px;
width:100px;height:100px;
display:inline-block;
}

.bg-ufo
{
background:url('../images/css-sprite-combined.2.png') -400px -0px;
width:100px;height:100px;
display:inline-block;
}
 */
 
/* body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  padding: 1rem;
 }
label {
  display: block;
}
input{
  border: 2px solid cornflowerblue;
  border-radius: 5px;
  padding: 0.5rem 0.7rem;
  transition: border-color 0.15s, box-shadow 0.15s;
}
input[type="text"]:focus {
  border-color: brown;
  outline: 0;
  box-shadow: 0 0 0 4px mediumspringgreen;
}
button {
  background: mediumseagreen;
  color: cornsilk;
  border: 0;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
}
.form-group {
  margin-bottom: 1rem;
} */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@keyframes pep {
  0% {
    transform: scale(1);
  }

  25% {
    transform: rotate(30deg);
  }

  50% {
    transform: skew(30deg);
  }

  75% {
    transform: translateX(75px);
    background: azure;
  }
  
  99% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(0);
    background: aquamarine;
  }
}

.box {
  width: 120px;
  height: 120px;
  background: aquamarine;
  animation-name: pep;
  animation-duration: 8s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  
}